<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".the"%>
  <%= link_to t(".tutorial"), Settings.tutorial%>
  <%= t ".is" %>
  <%= link_to t(".book"), Settings.book %>
  <%= t ".and" %>
  <%= link_to t(".screencast"), Settings.screencast %>
  <%= t ".development" %>
  <%= link_to t(".ruby"), Settings.development %>
  <%= t ".sample" %>
</p>
