<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("views.micropost.compose_new_micropost") %>
  </div>
  <%= f.submit t("views.micropost.post"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, id:"micropost_picture", accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>
